{% extends "layout.html" %}

{% include 'navbar-admin.html' %}

{% block content %}

{% include "_mensagem.html" %}

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-10 mx-auto col-lg-5">
                    {% if marcas %}
                    <form method="post" class="p-4 p-md-5 border rounded-3 bg-light">
                        <div class="text-center p-2 data-text">
                            <h4>Cadastrar Marcas</h4>
                        </div>
                        <input type="text" name="marca" class="form-control" required minlength="3" maxlength="45">
                        <input type="submit" value="Cadastrar" class="btn btn-success mt-2">
                        <a class="btn btn-danger mt-2" style="margin-left: 150px;" href="{{url_for('admin')}}">
                            Cancelar
                        </a>
                    </form>
    
                    {% else %}
    
                    <form method="post" class="p-4 p-md-5 border rounded-3 bg-light">
                        <div class="text-center p-2 data-text">
                            <h4>Cadastrar Categorias</h4>
                        </div>
                        <input type="text" name="categoria" class="form-control" required minlength="3" maxlength="45">
                        <input type="submit" value="Cadastrar" class="btn btn-success mt-2">
                        <a class="btn btn-danger mt-2" style="margin-left: 150px;" href="{{url_for('admin')}}">
                            Cancelar
                        </a>
                    </form>
    
                    {% endif %}
    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}