{% extends 'layout.html' %}

{% include 'navbar-admin.html' %}

{% block content %}

{% include '_mensagem.html' %}

<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="row justify-content-center align-items-center">
                <div class="col-9">

                    {% from '_erroformulario.html' import render_field %}

                    <form method="post" enctype="multipart/form-data" class="p-4 p-md-5 border rounded-3 bg-light">
                        <div class="text-center p-2 data-text">
                            <h4>Alterar Produtos</h4>
                        </div>
                        {{form.csrf_token}}


                        {{ render_field(form.name, class="form-control", placeholder="Nome do Produto") }}
                        {{ render_field(form.price, class="form-control", placeholder="Preço do Produto") }}
                        {{ render_field(form.discount, class="form-control", placeholder="Desconto do Produto") }}
                        {{ render_field(form.stock, class="form-control", placeholder="Estoque do Produto") }}

                        <label for="marca">Adicionar uma Marca</label>
                        <select name="marca" id="marca" class="form-select" required>
                            <option value="{{produto.marca.id}}">{{produto.marca.name}}</option>
                            {% for brand in marcas %}
                            <option value={{brand.id}}>{{brand.name}}</option>
                            {% endfor %}
                        </select>

                        <label for="categoria">Adicionar uma Categoria</label>
                        <select name="categoria" id="categoria" class="form-select" required>
                            <option value="{{produto.categoria.id}}">{{produto.categoria.name}}</option>
                            {% for category in categorias %}
                            <option value={{category.id}}>{{category.name}}</option>
                            {% endfor %}
                        </select>

                        <label for="cor">Adicionar uma Cor</label>
                        <select name="cor" id="cor" class="form-select" required>
                            <option value="{{produto.cor.id}}">{{produto.cor.name}}</option>
                            {% for color in cores %}
                            <option value={{color.id}}>{{color.name}}</option>
                            {% endfor %}
                        </select>

                        <label for="tamanho">Adicionar um Tamanho</label>
                        <select name="tamanho" id="tamanho" class="form-select" required>
                            <option value="{{produto.tamanho.id}}">{{produto.tamanho.name}}</option>
                            {% for size in tamanhos %}
                            <option value={{size.id}}>{{size.name}}</option>
                            {% endfor %}
                        </select>

                        <label for="embalagem">Adicionar uma Embalagem</label>
                        <select name="embalagem" id="embalagem" class="form-select" required>
                            <option value="{{produto.embalagem.id}}">{{dimension}}</option>
                            {% for embalagem in embalagens %}
                            <option value="{{embalagem.id}}">{{embalagem.dimension}}</option>
                            {% endfor %}
                        </select>

                        {{ render_field(form.discription, class="form-control", placeholder="Descrição do Produto",
                        rows="10") }}


                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <div class="card h-100">
                                    <img src="{{url_for('static', filename='images/' + produto.image_1)}}" alt="{{produto.name}}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Imagem 1</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100">
                                    <img src="{{url_for('static', filename='images/' + produto.image_2)}}" alt="{{produto.name}}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Imagem 2</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100">
                                    <img src="{{url_for('static', filename='images/' + produto.image_3)}}" alt="{{produto.name}}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Imagem 3</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container mt-2">
                            <div class="row">
                                <div class="col-md-4">{{ render_field(form.image_1, class="form-control")}}</div>
                                <div class="col-md-4">{{ render_field(form.image_2, class="form-control")}}</div>
                                <div class="col-md-4">{{ render_field(form.image_3, class="form-control")}}</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success mt-2">Atualizar Produto</button>
                        <a class="btn btn-danger mt-2" href="{{url_for('admin')}}">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}